<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Change password</h1>

    <form method="post" action="/change_password">
        <input type="password" name="currentPassword" placeholder="Aktuelles Passwort"/>
        <input type="password" name="newPassword" placeholder="neues Passwort"/>
        <input type="password" name="confirmNewPassword" placeholder="neues Passwort wiederholen"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="_method" value="put" />
        <button type="submit">Passwort aendern</button>
    </form>

    <a th:href="@{/login}">Hier zum Login zurück</a>

</body>
</html>
