<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Signup</h1>

    <form method="post" action="/signup">
        <input type="text" name="username" placeholder="Benutzername"/>
        <input type="email" name="email" placeholder="E-Mail"/>
        <input type="password" name="password" placeholder="Passwort"/>
        <input type="password" name="confirmPassword" placeholder="Passwort wiederholen"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Registrieren</button>
    </form>

    <a th:href="@{/login}">Bereits Registriert? Hier zum Login</a>

</body>
</html>
